<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.EboardStoryTestRelationMapper">
    
    <resultMap type="EboardStoryTestRelation" id="EboardStoryTestRelationResult">
        <result property="id"    column="id"    />
        <result property="storyId"    column="story_id"    />
        <result property="testId"    column="test_id"    />
    </resultMap>

    <sql id="selectEboardStoryTestRelationVo">
        select id, story_id, test_id from eboard_story_test_relation
    </sql>

    <select id="selectEboardStoryTestRelationList" parameterType="EboardStoryTestRelation" resultMap="EboardStoryTestRelationResult">
        <include refid="selectEboardStoryTestRelationVo"/>
        <where>  
            <if test="storyId != null "> and story_id = #{storyId}</if>
            <if test="testId != null "> and test_id = #{testId}</if>
        </where>
    </select>
    
    <select id="selectEboardStoryTestRelationById" parameterType="Long" resultMap="EboardStoryTestRelationResult">
        <include refid="selectEboardStoryTestRelationVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertEboardStoryTestRelation" parameterType="EboardStoryTestRelation">
        insert into eboard_story_test_relation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="storyId != null">story_id,</if>
            <if test="testId != null">test_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="storyId != null">#{storyId},</if>
            <if test="testId != null">#{testId},</if>
         </trim>
    </insert>

    <update id="updateEboardStoryTestRelation" parameterType="EboardStoryTestRelation">
        update eboard_story_test_relation
        <trim prefix="SET" suffixOverrides=",">
            <if test="storyId != null">story_id = #{storyId},</if>
            <if test="testId != null">test_id = #{testId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteEboardStoryTestRelationById" parameterType="Long">
        delete from eboard_story_test_relation where id = #{id}
    </delete>

    <delete id="deleteEboardStoryTestRelationByIds" parameterType="String">
        delete from eboard_story_test_relation where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>